<div id="search-page" class=" jobs-show-page" >
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <br>
    <div class="pull-right">
      <%= link_to(content_tag(:i, " Check All Jobs", class: "fa fa-reply-all"), jobs_path) %> |
      <%= link_to(content_tag(:i, " Back", class: "fa fa-arrow-left"), url_for(:back)) %>
    </div>

    <% if @jobs.blank?%>
      <br>
      <div class="container" style="margin-bottom: 400px;">
        <h3>Opps! No any results matched, please try again.</h3>
      </div>
    <% else %>
      <h4>Total find <%= @jobs.count %> jobs</h4>
      <div class="divider" style="margin-bottom: 50px;">
      <%= render :partial => "job_item", :collection => @jobs, :as => :job %>
      </div>
      <div class="text-center">
        <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
</div>
