<!--
<h1> <%= @job.title %> </h1>

<p>
  <%= simple_format(@job.description) %>

</p>
<div class="text-center">
<%= link_to("投交简历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration: underline;") %>
</div>
  --!>

  <div class="job-show">
    <div class="row">
      <div class="col-md-8 show-box-1">
        <span class="company-name">
           <%= @job.title %>
        </span> /
        <span><%= @job.company %></span>
        <p>
          <span class="wage">
            <%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %>
            </span>
            / <%= @job.city %>

        </p>
        <p>
          <span class="create-time">
             <%= @job.created_at %> 发布于18K Offer
            </span>
        </p>
      </div>
      <div class="col-md-3 show-box-2">
        <%= link_to("收藏", "#", class: "btn btn-md btn-primary") %>
        <%= link_to("投交简历", new_job_resume_path(@job), class: "btn btn-md btn-success") %>

      </div>


    </div>
    <hr>
    <div class="row">
      <div class="col-md-7 show-box-3">
        <h4>职位描述：</h4>
        <p><%= simple_format(@job.description) %></p>

      </div>

    </div>

  </div>
