<!--
<h3> 投交简历 <%= @job.title %> </h3>

<hr>

<%= simple_form_for [@job, @resume] do |f| %>
  <%= f.input :content %>
  <%= f.input :attachment %>
  <%= f.submit "送出" %>
  <% end %>
   --!>

<div class="resume-box">

  <div class="col-md-10">
    <div class="row col-md-8 resume-box-1">
      <div class="resume-box-1-title">
        <h3>投递简历</h3>
      </div>
      <hr>
      <div class="resume-box-2">
        <span class="company-name">
           <%= @job.title %>
        </span> /
        <span><%= @job.company %></span>
        <p>
          <span class="wage">
            <%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %>
            </span>
            / <%= @job.city %>

        </p>
        <p>
          <span class="create-time">
             <%= @job.created_at %> 发布于18K Offer
            </span>
        </p>

      </div>
      <hr>
      <div class="col-md-10 resume-box-3">
        <%= simple_form_for [@job, @resume] do |f| %>
        <%= f.input :content, :label => false, placeholder: '请输入简历描述', input_html: { class: 'resume-content'} %>
        <%= f.input :attachment, :label=> "上传简历" %>
        <div class="resume-box-3-bot">
        <%= f.submit "提交", class: "resume-bot-botton" %>

        </div>
        <% end %>

      </div>
    </div>

  </div>
 
</div>
